@page
@model League.Pages.Players.IndexModel
@{
}

<form>
	<label asp-for="Search">Search</label>
	<input asp-for="Search" />
	<input type="submit" value="Search" />
</form>

<ul>
	@foreach (var player in Model.Players)
	{
		<li>
			<a asp-page="./Player" asp-route-playerid="@player.PlayerId">@player.Name</a>
		</li>
	}
</ul>
