@page
@model League.Pages.Players.IndexModel
@{
}

<ul>
	@foreach (var player in Model.Players)
	{
		<li>
			<a asp-page="./Player" asp-route-playerid="@player.PlayerId">@player.Name</a>
		</li>
	}
</ul>
