@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>
	  <img src="~/image/nfl/nfl.png" alt="NFL logo" />
  </p>
</div>
